{{ define "content" }}



    <h2 class="content-subhead">Discover projects based on their commit activity</h2>
    <p>
        Git Leaderboard is a place where you can share your git projects' stats and see how they compare against others.

        Stats are submitted via the downloadable 
        <a href="https://github.com/TheAndruu/git-leaderboard">commit checker</a> which sends them to the central leaderboard.
    </p>

    <h2 class="content-subhead">See who the top committers are</h2>
    <p>
        We analyze authors' commit history to compare projects a variety of ways.  
        <ul>
            <li>Most total commits</li>
            <li>Most authors</li>
            <li>Most commits by one author</li>
            <li>Highest commit percentage by one author</li>
            <li>Average commit count per author</li>
            <!--Consider requring at least 10 authors for these projects below -->
            <li>Lowest standard deviation by author</li>
            <li>Lowest coefficient variation by author</li>
            <li>Recently submitted</li>
        </ul>
        <!-- Update this with links to different sections -->
    </p>

{{ end }}
