{{ define "content" }}    
        

        <div class="pure-g">
                
                {{range .RepoStats}}

                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                        
                    <h3 class="content-subhead"><a href="{{.RepoURL}}" title="{{.RepoName}}" target="_blank">{{.RepoName}}</a>
                    </h3>
                        <strong>
                        {{ if eq $.MenuSection "most-commits"}}
                            Total commit count: {{.TotalCommits}} <br/>
                        {{end}}
                        
                        {{ if eq $.MenuSection "most-authors"}}
                            Number of authors: {{.AuthorCount}}<br/>
                        {{end}}

                        {{ if eq $.MenuSection "most-single-author"}}
                            Lead author commits: {{.LeadAuthorTotal}}<br/>
                        {{end}}

                        {{ if eq $.MenuSection "lead-author-highest-percent"}}
                            Lead author percent: {{printf "%.2f" .LeadAuthorPercent }}<br/>
                        {{end}}

                        {{ if eq $.MenuSection "highest-average-commits"}}
                            Average author commits: {{printf "%.2f" .AverageAuthorCommits}}<br/>
                        {{end}}

                        {{ if eq $.MenuSection "lowest-standard-deviation"}}
                            Standard deviation: {{ printf "%.2f" .CommitDeviation}}<br/>
                        {{end}}
                        
                        {{ if eq $.MenuSection "least-coefficient-variation"}}
                            Coefficient variation: {{printf "%.2f" .CoefficientVariation}}<br/>
                        {{end}}
                    </strong>
                        
                        <ol>
                            {{range .Commits}}
                            <li>{{ .Author}} - {{.NumCommits}}</li>
                            {{end}}
                        </ol>
                </div>
            
                {{end}}    
        </div>

<!--  -->
        

{{ end }}
