{{ define "content" }}

    <style>
        a:hover {
            background-color: lightcyan
        }
    </style>

    <div class="row" style="margin-top: 6%">
        
        {{range .}}
            <div class="one-third column">
                <a href="{{.RepoURL}}" title="{{.RepoName}}" target="_blank">{{.RepoName}}</a>

                <br/>
                Total commits: {{.TotalCommits}} <br/>
                Author count: {{.AuthorCount}}<br/>
                Lead author total: {{.LeadAuthorTotal}}<br/>
                Lead author percent: {{.LeadAuthorPercent}}<br/>
                Average author commits: {{.AverageAuthorCommits}}<br/>
                Standard Deviation: {{.CommitDeviation}}<br/>
                Coefficient Variation: {{.CoefficientVariation}}<br/>
                <ol>
                    {{range .Commits}}
                    <li>{{ .Author}} - {{.NumCommits}}</li>
                    {{end}}
                </ol>
            </div>
        {{end}}    
        
    </div>

{{ end }}

{{ define "head" }}
  <!--Show ability to set title with the same data-->
  <title>Most Recent Git Committer Stats</title>
{{ end }}