{{ define "content" }}


        <h2 class="content-subhead">Latest Projects</h2>
        <p>
            These are the projects that have been submitted most recently with the <a href="https://github.com/TheAndruu/git-leaderboard" title="Git Leaderboard">leaderboard client</a>
        </p>

       
    
        
        <div class="pure-g">

                {{range .RepoStats}}

                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                        
                    <h3 class="content-subhead"><a href="{{.RepoURL}}" title="{{.RepoName}}" target="_blank">{{.RepoName}}</a>
                    </h3>
                        <br/>
                        Total commits: {{.TotalCommits}} <br/>
                        Author count: {{.AuthorCount}}<br/>
                        Lead author total: {{.LeadAuthorTotal}}<br/>
                        Lead author percent: {{printf "%.2f" .LeadAuthorPercent}}<br/>
                        Average author commits: {{printf "%.2f" .AverageAuthorCommits}}<br/>
                        Standard Deviation: {{ printf "%.2f" .CommitDeviation}}<br/>
                        Coefficient Variation: {{printf "%.2f" .CoefficientVariation}}<br/>
                        <ol>
                            {{range .Commits}}
                            <li>{{ .Author}} - {{.NumCommits}}</li>
                            {{end}}
                        </ol>
                </div>
            
                {{end}}    
        </div>

<!--  -->
        

{{ end }}
