{{ define "outerTheme" }}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Leaderboard showing commits by author for git repositories.">
    <meta name="author" content="Andrew Cuga"> 
    <title>{{.Title}}</title>
    {{ template "head" . }}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

    <!-- Include the css libraries -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">Git Leaderboard</a>

            <ul class="pure-menu-list">
                <li class='pure-menu-item  {{ if eq .MenuSection "home" }} pure-menu-selected {{end}}'><a href="/" class="pure-menu-link">Home</a></li>

                <li class='pure-menu-item menu-item-divided {{ if eq .MenuSection "most-commits" }} pure-menu-selected {{end}}'><a href="/most-commits" class="pure-menu-link">Most Commits</a></li>

                <li class='pure-menu-item menu-item-divided {{ if eq .MenuSection "most-authors" }} pure-menu-selected {{end}}'><a href="/most-authors" class="pure-menu-link">Most Authors</a></li>
                <li class='pure-menu-item {{ if eq .MenuSection "most-single-author" }} pure-menu-selected {{end}}'><a href="/most-single-author" class="pure-menu-link">Lead Author Commits</a></li>
                <li class='pure-menu-item {{ if eq .MenuSection "lead-author-highest-percent" }} pure-menu-selected {{end}}'><a href="/lead-author-highest-percent" class="pure-menu-link">Lead Author Percent</a></li>

                <li class='pure-menu-item menu-item-divided {{ if eq .MenuSection "highest-average-commits" }} pure-menu-selected {{end}}'><a href="/highest-average-commits" class="pure-menu-link">Highest Average Commits</a></li>

                <li class='pure-menu-item menu-item-divided {{ if eq .MenuSection "recently-submitted" }} pure-menu-selected {{end}}'><a href="/recently-submitted" class="pure-menu-link">Recently Submitted</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>{{.Title}}</h1>
            <h2>{{.SubTitle}}</h2>
        </div>

        <div class="content">

                <h2 class="content-subhead">{{.ContentHead}}</h2>
                <p>
                    {{.ContentMessage}} 
                    To susbmit a project to compete on this board, use the <a href="https://github.com/TheAndruu/git-leaderboard" title="Git Leaderboard">git leaderboard client</a>
                </p>

            {{ template "content" . }}
        </div>
    </div>
</div>


    <!-- Include last so the other elements are available -->
    <script async src="/js/ui.js"></script>
</body>
</html>


{{ end }} <!-- end of outerTheme -->


{{ define "head" }}
{{ end }}