{{ define "outerTheme" }}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Leaderboard showing commits by author for git repositories.">
    <meta name="author" content="Andrew Cuga"> 
    <title>{{.Title}}</title>
    {{ template "head" . }}


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

    <!-- Include the css libraries -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Git Leaderboard</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item {{ if eq .MenuSection "recently-submitted" }} pure-menu-selected {{end}}"><a href="/" class="pure-menu-link">Recently Submitted</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item menu-item-divided">
                    <a href="#" class="pure-menu-link">Services</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>{{.Title}}</h1>
            <h2>{{.SubTitle}}</h2>
        </div>

        <div class="content">
            {{ template "content" . }}
        </div>
    </div>
</div>


    <!-- Include last so the other elements are available -->
    <script async src="/js/ui.js"></script>
</body>
</html>


{{ end }} <!-- end of outerTheme -->


{{ define "head" }}
{{ end }}