{{ define "content" }}

Can you see me
    <div class="row" style="margin-top: 6%">
        This is what you should see
        <div class="one-half column">
                {{range $i, $x := $}}
                    Name={{$x.RepoName}} 
                    URL={{$x.RepoURL}}  
                 {{end}}

                
            <!-- <h4>{{printf "%s" .Title}}!</h4>
            <p>{{printf "%s" .Message}}!</p> -->
        </div>
    </div>

{{ end }}

{{ define "head" }}
  <!--Show ability to set title with the same data-->
  <title>{{printf "%s" .Title}}!</title>
{{ end }}